#site_border{
    border: 5px solid;
    color: rgb(209, 127, 141);
    display:block;
    height: 500px;
    width: 500px;
}
#first_1{
    background-color:rgb(61, 240, 61) ;
    height: 125px;
    width: 125px;
    margin-left: 375px;
}
#first_2{
    background-color:rgb(61, 240, 61) ;
    height: 125px;
    width: 125px;
    margin-left: 250px;
    border:5px solid rgb(71, 73, 72);
    box-sizing: border-box;
}
#first_3{
    background-color:rgb(61, 240, 61) ;
    height: 125px;
    width: 125px;
    margin-left: 125px;
}
#first_4{
    background-color:rgb(61, 240, 61) ;
    height: 125px;
    width: 125px;
    box-sizing: border-box;
    border:5px solid rgb(71, 73, 72);
}

#site2_border{
    height: 500px;
    width: 500px;
    position: absolute;
    display:inline-table
}

#second_1{
    background-color:rgb(233, 247, 39) ;
    height: 125px;
    width: 125px;
    box-sizing: border-box;
    border: 5px solid orange;
    display:inline-block;
}
#second_2{
    background-color:rgb(233, 247, 39) ;
    height: 125px;
    width: 125px;
    box-sizing: border-box;
    border: 5px solid orange;
    display:inline-block
    
}
#second_3{
    background-color:rgb(233, 247, 39) ;
    height: 125px;
    width: 125px;
    box-sizing: border-box;
    border: 5px solid orange;
    display:inline-block
}
#second_4{
    background-color:rgb(233, 247, 39) ;
    height: 125px;
    width: 125px;
    box-sizing: border-box;
    border: 5px solid orange;
    display:inline-block
}
#redbox{
    height: 125px;
    width: 125px;
    background-color: red;
    display:inline-block
}
.filler{
    height: 125px;
    width: 500px;
    display:flex
}